<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.simple.mapper.JmxMapper">
    <insert id="insert" parameterType="JmxMetricInsertDTO">
        INSERT INTO KAFKA_METRIC (
            METRIC_ID,
            METRIC_NM,
            METRIC_VAL,
            CLCT_DT
        ) VALUES (
            METRIC_ID_SEQ.NEXTVAL,
            #{metricNm},
            #{metricVal},
            #{clctDt}
        )
    </insert>
</mapper>